
    <div class="container">
        <div class="row mt-5   ">
            <div class="col ">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-4">
                        <h4 class="title-menu fz-14 text-uppercase mb-3">Thông tin chung</h4>
                        <div class="des_foo mb-2">
                            Với sứ mệnh "Khách hàng là ưu tiên số 1" chúng tôi luôn mạng lại giá trị tốt nhất
                        </div>
                        <div class="list-menu toggle-mn list-infomb ">
                            <div class="content-contact clearfix mb-2">
                                <span class="list_footer">
                                    <b>Địa chỉ: </b>

                                    70 Lữ Gia, Phường 15, Quận 11, TP. Hồ Chí Minh

                                </span>
                            </div>
                            <div class="content-contact clearfix mb-2">
                                <span class="list_footer">
                                    <b>Điện thoại: </b><a title="1900 6750" href="tel:19006750">
                                        1900 6750
                                    </a>
                                </span>
                            </div>
                            <div class="content-contact clearfix mb-2">
                                <span class="list_footer">
                                    <b>Email: </b><a title="support@sapo.vn" href="mailto:support@sapo.vn">
                                        support@sapo.vn
                                    </a>
                                </span>
                            </div>
                            <div class="content-contact clearfix mb-2">
                                <span class="list_hotline">
                                    <a title="1900 6750" class=" btn btn-primary rounded-pill" href="tel:19006750">
                                        <img width="24" height="24"
                                            src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/phone_foo.png?1710409416702"
                                            alt="Hotline"> 1900 6750
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 footer-click">
                        <h4 class="title-menu fz-14 text-uppercase mb-3 clicked">
                            Thông tin
                        </h4>
                        <div class="list-menu-footer d-block">
                            <div class="mb-2">
                                <span>
                                    <a href="#!home">Trang Chủ</a>
                                </span>
                            </div>
                            <div class="mb-2">
                                <span>
                                    <a href="#!about">Giới Thiệu</a>
                                </span>
                            </div>
                            <div class="mb-2">
                                <span>
                                    <a href="#!product">Sản Phẩm</a>
                                </span>
                            </div>
                            <div class="mb-2">
                                <span>
                                    <a href="#!post">Bài Viết</a>
                                </span>
                            </div>
                            <div class="mb-2">
                                <span>
                                    <a href="#!contact">Liên hệ</a>
                                </span>
                            </div>


                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3 footer-click">
                        <h4 class="title-menu fz-14 text-uppercase mb-3 clicked">
                            Tổng đài hỗ trợ
                        </h4>
                        <div class="hotline-footer list-menu toggle-mn hidden-mob">
                            <div class="phone-1 d-flex mb-3">
                                <i class="fa-solid fa-phone fa-shake fs-1 me-2 text-warning"></i>
                                <div>
                                    <span class="fz-14">Tư vấn mua hàng ̣̣̣(miễn phí):</span> <br>
                                    <span><strong class="text-danger">1900 1353 </strong> (́8:00 - 17:00)</span>
                                </div>
                            </div>
                            <div class="phone-1 d-flex mb-3">
                                <i class="fa-solid fa-phone fa-shake fs-1 me-2 text-warning"></i>
                                <div>
                                    <span class="fz-14">Khiếu nại - góp ý:</span> <br>
                                    <span><strong class="text-danger">1900 1353 </strong> (́8:00 - 17:00)</span>
                                </div>
                            </div>
                            <div class="phone-1 d-flex">
                                <i class="fa-solid fa-phone fa-shake fs-1 me-2 text-warning"></i>
                                <div>
                                    <span class="fz-14">Bán hàng doanh nghiệp:</span> <br>
                                    <span><strong class="text-danger">1900 1353 </strong> (́8:00 - 17:00)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3 footer-click">
                        <h4 class="title-menu fz-14 text-uppercase mb-3">
                            Liên kết xã hội
                        </h4>
                        <div class="social-footer mb-3">
                            <div class="social toggle-mn">
                                <a class="fb" href="#" target="_blank" aria-label="Facebook"
                                    title="Theo dõi Bean Mobile trên Facebook">
                                    <i
                                        class="fa-brands fa-facebook-f text-white p-2 me-2 bg-primary rounded-3 fz-14"></i>
                                </a>
                                <a class="tt" href="#" target="_blank" aria-label="Twitter"
                                    title="Theo dõi Bean Mobile trên Twitter">
                                    <i class="fa-brands fa-twitter text-white p-2  me-2 bg-info rounded-3 fz-14"></i>
                                </a>
                                <a class="yt" href="#" target="_blank" aria-label="Youtube"
                                    title="Theo dõi Bean Mobile trên Youtube">
                                    <i class="fa-brands fa-youtube text-white p-2  me-2 bg-danger rounded-3 fz-14"></i>
                                </a>
                                <a class="ins" href="#" target="_blank" aria-label="Instagram"
                                    title="Theo dõi Bean Mobile trên Instagram">
                                    <i
                                        class="fa-brands fa-instagram text-white p-2  me-2 bg-warning rounded-3 fz-14"></i>
                                </a>
                            </div>
                        </div>
                        <h4 class="title-menu fz-14 text-uppercase">
                            Phương thức thanh toán
                        </h4>
                        <div class="footer-column-1 fs-5">
                            <div class="payment-accept mt-2">
                                <img width="60px" height="40px"
                                    src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-1.png?1710409416702"
                                    data-src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-1.png?1710409416702"
                                    alt="Payment 1" class="lazyload loaded" data-was-processed="true">
                                <img width="60px" height="40px"
                                    src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-2.png?1710409416702"
                                    data-src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-2.png?1710409416702"
                                    alt="Payment 2" class="lazyload loaded" data-was-processed="true">
                                <img width="60px" height="40px"
                                    src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-3.png?1710409416702"
                                    data-src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-3.png?1710409416702"
                                    alt="Payment 3" class="lazyload loaded" data-was-processed="true">
                                <img width="60px" height="40px"
                                    src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-4.png?1710409416702"
                                    data-src="//bizweb.dktcdn.net/100/497/960/themes/923878/assets/payment-4.png?1710409416702"
                                    alt="Payment 4" class="lazyload loaded" data-was-processed="true">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 p-0">
            <div class="text-center">
                <p class="fz-14 text-light bg-primary p-3">
                    © 2024 Phạm Thanh Trung. All Rights Reserved.
                </p>
            </div>
        </div>

    </div>

    <body>

    </body>
