
        <div class="bg-light ">
            <div class="row ms-3  pt-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb container">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="container">
        <h1 style="font-size: 16px; font-weight: bold;" class="mb-2 mt-3">GIỚI THIỆU</h1>
        <h2 class="fs-6 mb-3 mt-3">1. Lịch sử hình thành</h2>
        <p class="fz-14 text-dark">Bean Mobile là hệ thống kinh doanh website nhượng quyền bán lẻ Smartphone, Phụ kiện chính hãng
            và sửa chữa
            dịch vụ, là đối tác của các hãng điện thoại chính hãng lớn tại Việt Nam như: Apple, Samsung, Oppo, Realme,
            Xiaomi,…</p>

        <p class="fz-14 text-dark">Hệ thống bán lẻ Bean Mobile hiện có trụ sở chính tại địa chỉ: 70 Lữ Gia, Phường 15, Quận 11,
            TP. Hồ Chí Minh
        </p>

        <p class="fz-14 text-dark">Thành lập từ năm 2020, trải qua gần 3 năm phát triển, Bean Mobile đã trở thành điểm đến quen
            thuộc của khách
            hàng yêu công nghệ trên toàn quốc với các sản phẩm điện thoại, máy tính bảng, Smartphone chính hãng uy tín
            chất lượng. Thời điểm hiện tại hệ thống đã có 8 cửa hàng nhượng quyền + 4 trung tâm bảo hành trải dài khắp
            toàn quốc tạo sự thuận tiện cho khách hàng.</p>

        <h2 class="fs-6 mb-3">Quyền lợi khi được tham gia nhượng quyền:</h2>
        <ul>
            <li class="mb-3">Ít rủi ro bởi các sản phẩm, dịch vụ của Bean Mobile đều đã khẳng định được chất lượng, uy
                tín</li>
            <li class="mb-3">Được chuyển giao và đảm bảo các vấn đề xây dựng chiến lược quảng bá, tiếp thị, đào tạo, tận
                dụng nguồn
                nhân lực có sẵn 1 cách tối đa. Các quy trình vận hành đều sẽ được Bean Mobile hỗ trợ và chuyển giao. Cửa
                hàng nhượng quyền chỉ cần tập trung cho việc bán hàng.</li>
            <li class="mb-3">Được sử dụng thương hiệu uy tín của Bean Mobile trong lĩnh vực bán lẻ điện thoại chính hãng
                đã được
                khẳng định qua hơn 3 năm phát triển và được khách hàng tin tưởng.</li>
        </ul>

        <h2 class="fs-6 mb-3">2. Tầm nhìn - sứ mệnh</h2>
        <h3 class="fs-6 mb-3">- Sứ mệnh:</h3>
        <p class="fz-14 text-dark">Chúng tôi lấy khách hàng làm trung tâm, lấy tổ chức chức chuyên nghiệp làm sức mạnh cạnh tranh,
            không ngừng
            nỗ lực cung cấp những sản phẩm, dịch vụ giá trị mới, chất lượng cao với giá hợp lý để đóng góp vào mục tiêu
            nâng cao chất lượng cuộc sống thông tin.</p>

        <h3 class="fs-6 mb-3">- Tầm nhìn:</h3>
        <p class="fz-14 text-dark">Trở thành một công ty hàng đầu cung cấp sản phẩm, dịch vụ các thế hệ Bean Mobile trong đó lấy
            chất lượng phục
            vụ khách hàng làm sự phát triển bền vững.</p>

        <h2 class="fs-6 mb-3">3. Những Giá Trị Cốt Lõi</h2>
        <p class="fz-14 text-dark">Giá trị cốt lõi của Bean Mobile là các giá trị bền vững làm nên thành công, là tôn chỉ toàn bộ
            hành động của
            công ty, được hình thành qua những ngày tháng gian khổ đầu tiên của công ty, được xây dựng từ những kinh
            nghiệm và học hỏi, tôi luyện qua những thử thách trong suốt quá trình phát triển.</p>

        <h3 class="fs-6 mb-3">- Tư duy hệ thống xã hội hóa:</h3>
        <p class="fz-14 text-dark">Công ty được tổ chức như một hệ thống với những nhiệm vụ sứ mệnh rõ ràng, được tổ chức toàn vẹn
            và hiệu quả,
            không ngừng nâng cấp để thay đổi về tầm ảnh hưởng, hệ thống sẽ được Xã Hội Hóa theo hướng là tài sản chung
            của toàn bộ cán bộ, nhân viên Bean Mobile và đóng góp để trở thành 1 phần hữu cơ của Xã Hội.</p>

        <h3 class="fs-6 mb-3">- Thành công của con người là thành công của tổ chức:</h3>
        <p class="fz-14 text-dark">Bean Mobile xây dựng đội ngũ nhân viên như những người đồng đội trên cùng một chiến thuyền, mỗi
            cá nhân được
            đánh thức nhân sinh quan và hướng dẫn cách nhận định, phấn đấu vì mục tiêu sống, thành công của mỗi nhân
            viên là thành công của tổ chức. Hội tụ càng nhiều thành công này, tổ chức đạt được mục tiêu. Trên cùng một
            chiến thuyền, giữa biển khơi bao la…đòi hỏi một tập thể phải biết tối ưu ở mọi cấp độ, đoàn kết và tin tưởng
            vào mục tiêu của tổ chức. Hệ thống đòi hỏi những con người phải biết thành công và dám thành công.</p>

        <h3 class="fs-6 mb-3">- Giá trị doanh nghiệp nằm ở khách hàng:</h3>
        <p class="fz-14 text-dark">Giá trị doanh nghiệp nằm ở khách hàng, kết nối khách hàng thành một xã hội và phục vụ xã hội
            này với những
            năng lực, tư duy luôn đổi mới. Mỗi khách hàng là một hạt nhân quan trọng trên bước đường cóp nhặt thành công
            của công ty. Toàn thể từ lãnh đạo đến nhân viên trước khách hàng luôn phải thể hiện trong vai trò người phục
            vụ: tận tụy, lắng nghe và đưa ra giải pháp tốt nhất.</p>
        <h6 class="text-danger text-center pt-3 pb-3 fz-14 fw-bolder">HÃY ĐẾN BEAN MOBILE THANH TRUNG SẼ LÀM BẠN THỎA MÃN!</h6>
    </div>
