
        <div class="bg-light ">
            <div class="row ms-3  pt-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb container">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sản Phẩm</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container mb-5  ">
        <div class="row mt-4">
            <div class="col-4">
                <img src="../Public/img/img_3col_1.webp" class="rounded-2 me-2 w-100" alt="">
            </div>
            <div class="col-4">
                <img src="../Public/img/img_3col_2.webp" class="rounded-2 me-2 w-100" alt="">
            </div>
            <div class="col-4">
                <img src="../Public/img/img_3col_3.webp" class="rounded-2 me-2 w-100" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">Iphone</button>
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">SamSung</button>
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">Oppo</button>
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">Lenovo</button>
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">Xiaomi</button>
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">Redmi</button>
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">Realme</button>
                <button type="button"
                    class="btn btn-outline-secondary pt-1 pb-1 ps-3 pe-3 me-2 mt-3 fw-medium fz-14">Vivo</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-3">
                <div class="list-group border mb-3">
                    <button type="button" class="list-group-item list-group-item-action fw-bold bg-title-cl text-white"
                        aria-current="true">
                        Mức Giá
                    </button>
                    <div class="fz-14 p-3">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Dưới 100.000đ
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="">
                                Từ 100.000đ - 500.000đ
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="">
                                Từ 500.000đ - 1.000.000đ
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="">
                                Từ 1.000.000đ - 5.000.000đ
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="">
                                Trên 5.000.000đ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="list-group border ">
                    <button type="button" class="list-group-item list-group-item-action fw-bold bg-title-cl text-white"
                        aria-current="true">
                        Đặc Biệt
                    </button>
                    <div class="fz-14 p-3">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                            <label class="form-check-label" for="flexCheckDefault">
                                Pin Khủng
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="">
                                Cấu Hình Mạnh
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="">
                                Chụp Ảnh Đẹp
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="">
                            <label class="form-check-label" for="">
                                Sạc Nhanh
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="d-flex justify-content-between">
                    <h1 style="font-size: 18px; font-weight: bold;" class="mb-2 mt-2 rounded-2 bg-light pt-1 pb-1 ps-1">
                        TẤT CẢ SẢN PHẨM</h1>
                    <select class="form-select bg-body-secondary text-dark p-0 ps-3 rounded-0  fz-14 "
                        style="width: 180px; height: 30px;" aria-label="Default select example" ng-model="sortOption">
                        <option value="0"><i class="fa-solid fa-filter"></i> Sắp Xếp: Mặc Định</option>
                        <option  value="name">A - Z</option>
                        <option  value="-name">Z - A</option>
                        <option  value="price">Giá Trị Thấp Đến Cao</option>
                        <option  value="-price">Giá Trị Cao Đến Thấp</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-3 p-2" ng-repeat="sp in productCategories | filter:{brand: brand}| orderBy:sortOption | limitTo:limit:begin">
                        <div class="card shadow">
                            <div class="head-card d-flex p-2">
                                <span class="text-bg-danger rounded-end ps-2 pe-2 pt-1 fz-10">{{ ((sp.del - sp.price)/sp.del)*100 | number:0 }}%</span>
                                <span class="ms-auto"><i class="fa-regular fa-heart "></i></span>
                            </div>
                            <img src="../Public/img/{{ sp.img }}" class="card-img-top scale-hover" alt="...">
                            <span
                                class="text-white ms-2  mt-2  ps-3 pe-3  rounded-pill position-absolute fz-14 top-50  start-0 translate-middle-y"
                                style="background-color: var(--subColor); ">{{ sp.hot }}</span>

                            <div class="card-body p-2">
                                <h6 class="fw-light" style="height: 40px;"><a href="#!productDetail/{{ sp.id }}"  class="text-break w-100 text-hover">{{ sp.name }}</a></h5>
                                    <div class="d-flex ">
                                        <span class="text-danger">{{ sp.price | currency:" ":0 }} VNĐ<br>
                                            <del class="text-secondary fz-14">{{ sp.del | currency:" ":0  }} VNĐ</del></span>
                                        <span class="ms-auto align-middle"><a type="submit"  ng-click="addToCart(sp)"><i
                                                    class="fa-solid fa-cart-plus p-2 bg-info rounded text-white scale-hover"></i></a></span>
                                    </div>
                                    <p
                                        class="card-text mb-2 mt-2  bg-success p-0 rounded-pill fz-10 text-center text-white">
                                        Đã bán {{ sp.sold }} sản phẩm</p>
                                    <p class="card-text bg-light p-0 rounded fz-10 text-center text-dark pt-1 pb-1">{{ sp.gift }}</p>
                                    <div class="head-card d-flex p-0">
                                        <span class="fz-14 ">
                                            <div class="rating">
                                                <span class="fa fa-star text-warning"></span>
                                                <span class="fa fa-star text-warning"></span>
                                                <span class="fa fa-star text-warning"></span>
                                                <span class="fa fa-star text-warning"></span>
                                                <span class="fa fa-star text-warning"></span>
                                            </div>
                                        </span>
                                        <span class="ms-auto fz-14">{{ sp.feedback }}</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-center mt-3">
                        <div class="d-flex justify-content-center mt-3">
                            <nav aria-label="Page navigation example " >
                                <ul class="pagination pt-4">
                                    <li class="page-item"><button ng-click="chuyenTrang(page-1)"
                                            class="page-link {{ (page==1) ? 'disabled' : '' }}" href="#">Previous</button></li>
                                    <li ng-repeat="trang in pageLish()" class="page-item"><button ng-click="chuyenTrang(trang)"
                                            class="page-link {{ (page==trang) ? 'active' : '' }}" href="#">{{trang}}</button>
                                    </li>
                                    <li class="page-item"><button ng-click="chuyenTrang(page+1)"
                                            class="page-link {{ (page==totalPage()) ? 'disabled' : '' }}" href="#">Next</button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3 mb-5">
            <h6 class="mt-3">Điện thoại di động thông minh iPhone, Samsung, Xiaomi, Realme Chính Hãng Siêu Rẻ</h6>
            <span class="fz-14"> Điện thoại di động đang dần trở thành một vật bất ly thân trong cuộc sống hiện đại ngày
                nay. Xem ngay những thông tin bạn cần phải biết trước khi mua “dế yêu” về phục vụ cuộc sống hàng
                ngày.</span>

            <div class="row">
                <div class="col-md-4">
                    <img src="../Public/img/die-n-thoa-i-di-do-ng.webp" alt="Banner 1">
                </div>

            </div>

            <h6 class="mt-3">Phân loại điện thoại di động theo mục đích sử dụng</h6>
            <span class="fz-14"> Có khá nhiều tiêu chí để phân loại các mẫu điện thoại di động hiện nay. Để người dùng
                dễ lựa chọn, Di Động Thông Minh sẽ dựa theo mục đích sử dụng điện thoại hàng ngày:</span>


            <div class="row">
                <div class="col-md-6">
                    <img src="../Public/img/dien-thoai-thong-minh.webp" alt="Banner 4">
                </div>

            </div>

            <h6 class="mt-3">Điện thoại thông minh (smartphone)</h6>
            <span class="fz-14"> Đầu tiên, loại điện thoại di động phổ biến nhất hiện nay là điện thoại thông minh (hay
                còn gọi là smartphone). Những mẫu máy này có màn hình cảm ứng, có bộ vi xử lý mạnh mẽ, có camera độ phân
                giải cao cùng rất nhiều tính năng thông minh khác. Loại điện thoại này đáp ứng nhu cầu liên lạc và giải
                trí hàng ngày cực tốt.</span>


            <div class="row">
                <div class="col-md-6">
                    <img src="../Public/img/dien-thoai-pho-thong.webp" alt="Banner 4">
                </div>

            </div>

            <h6 class="mt-3">Điện thoại phổ thông (feature phone)</h6>
            <span class="fz-14 mt-2">
                Không như điện thoại thông minh, điện thoại phổ thông tập trung vào chức năng chính là liên lạc. Những
                người sử dụng điện thoại phổ thông hầu hết là người cao tuổi, khó sử dụng điện thoại thông minh có màn
                hình cảm ứng.


            </span>
            <br>
            <span class="fz-14">
                Điện thoại phổ thông còn có một ưu điểm nữa là pin cực kì trâu vì máy gần như chỉ sử dụng để phục vụ
                liên lạc. Máy có thể dễ dàng trụ được 3-4 ngày với nhu cầu nghe gọi, nhắn tin cơ bản.

            </span>
            <br>
            <span class="fz-14">
                Một ưu điểm nữa của điện thoại giá rẻ khiến những chiếc smartphone ao ước đó là độ bền của máy. Với
                những loại điện thoại này, nếu chẳng may người dùng có rơi hay va đập vào tường cũng không phải vấn đề
                quan trọng.

            </span>


            <div class="row">
                <div class="col-md-6">
                    <img src="../Public/img/gaming-phone.webp" alt="Banner 4">
                </div>

            </div>

            <h6 class="mt-3">Điện thoại chơi game (gaming phone)</h6>
            <span class="fz-14"> Điện thoại chơi game là những chiếc điện thoại thông minh được thiết kế và trang bị
                những tính năng giúp game thủ có được trải nghiệm giải trí tốt nhất. Những mẫu điện thoại lý tưởng để
                phục vụ người chơi sẽ có con chip mạnh, màn hình mượt (tần số quét 120Hz), dung lượng RAM lớn (8GB-12GB)
                kết hợp cùng viên pin khủng (~5000mAh).</span>
            <span class="fz-14">
                Để tối ưu cho việc chơi game, nhiều nhà sản xuất còn đưa nhiều công nghệ mới khiến cho máy mạnh hơn
                nhưng vẫn đảm bảo tản nhiệt tốt. Hoặc chế độ Game Mode được tích hợp để người chơi không bị làm phiền
                bởi thông báo hay các cuộc gọi đột xuất làm gián đoạn quá trình chơi game.</span>

            <h6 class="mt-3">Điện thoại chụp ảnh (Camera phone)</h6>
            <span class="fz-14">Điện thoại phục vụ cho nhu cầu chụp ảnh thì các hãng hay hướng tới số lượng và chất
                lượng trên cụm camera. Xu hướng hiện tại nhiều nhà sản xuất đang theo đuổi là nhiều camera và độ phân
                giải cao.
                <br>
                Điện thoại giá rẻ, tầm trung hay cao cấp đa số đều có 3-4 camera được tích hợp. Độ phân giải cũng được
                đẩy lên 48MP - 50MP ở trong tầm giá 4-5tr. Điện thoại tầm trung, cao cấp thì nay đã được trang bị camera
                lên đến 108MP.
                <br>
                Tuy vậy, độ phân giải cao hay số lượng camera nó cũng chỉ là một yếu tố để quyết định bức ảnh cho ra có
                đẹp hay không. Nó còn phụ thuộc vào nhiều yếu tố khác như chất lượng, kích thước cảm biến hay phần mềm
                xử lý từ hãng.</span>


        </div>
    </div>
