
        <div class="bg-light ">
            <div class="row ms-3  pt-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb container">
                        <li class="breadcrumb-item"><a href="#!">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Đổi Mật Khẩu</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="container mb-5  ">
        <div class="col-md-4 offset-md-4 rounded-3 p-2 ">
            <h1 class="text-success fs-2 text-center mb-4">Đổi Mật Khẩu</h1>
            <form action="#">
                
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Mật Khẩu Mới</label>
                    <input type="password" class="form-control pt-2 pb-2" id="formGroupExampleInput2"
                        placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Xác Nhận Mật Khẩu</label>
                    <input type="password" class="form-control pt-2 pb-2" id="formGroupExampleInput2"
                        placeholder="Password">
                </div>
                <div class="mb-3 mt-5">
                    <input type="button"
                        class="form-control pt-2 pb-2 btn-outline-success text-center fw-medium text-bg-success text-white btn-success mt-3"
                        id="formGroupExampleInput2" value="Đăng Nhập ">
                </div>
                
            </form>
        </div>
    </div>
