
        <div class="bg-light  ">
            <div class="row ms-3  pt-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb container">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liên Hệ</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row mb-5">
            <div class="col fz-14">
                <h1 style="font-size: 16px; font-weight: bold;" class="mb-3 mt-3">BẠN ĐANG CÓ THẮC MẮC VỀ WEBSITE CỦA
                    CHÚNG TÔI? lIÊN HỆ NGAY NÀO.</h1>
                <div class="des_foo mb-2">
                    Với sứ mệnh "Khách hàng là ưu tiên số 1" chúng tôi luôn mạng lại giá trị tốt nhất
                </div>
                <div class="time_work">
                    <div class="item mb-2">
                        <b>Địa chỉ:</b>

                        70 Lữ Gia, Phường 15, Quận 11, TP. Hồ Chí Minh

                    </div>
                    <div class="item mb-2">
                        <b>Hotline:</b> <a href="tel:19006750" title="1900 6750" class="fw-bold text-warning">1900
                            6750</a>
                    </div>
                    <div class="item mb-2">
                        <b>Email:</b> <a href="mailto:support@sapo.vn" title=""
                            class="fw-bold text-warning">thanhtrung@gmail.com</a>
                    </div>

                </div>
                <h1 style="font-size: 16px; font-weight: bold;" class="mb-3 mt-3">LIÊN HỆ VỚI CHÚNG TÔI NGAY </h1>
                <form class="row g-3">
                    <div class="col-md-6 mb-2">
                        <input type="text" class="form-control" id="inputht4" placeholder="Họ Và Tên">
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="col-12 mb-2">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Số điện Thoại">
                    </div>
                    <div class="form-floating ">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 140px"></textarea>
                        <label for="floatingTextarea2 ps-2">Nội Dung</label>
                    </div>

                    <div class="col-12 mt-4 text-end">
                        <button type="submit" class="btn btn-primary text-end ">Gửi Thông Tin</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6440363847046!2d106.61059177480578!3d10.838529389314038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bd6150bb24d%3A0x77a11952d458f48b!2zOTggVMOibiBUaOG7m2kgTmjhuqV0IDUsIFTDom4gVGjhu5tpIE5o4bqldCwgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1710782005913!5m2!1svi!2s"
                    width="530" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>