
        <div class="bg-light ">
            <div class="row ms-3  pt-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb container">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Đăng Nhập</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="text-center mb-5">Update Password</h2>
            <div ng-show="isError" class="alert alert-danger">
                OTP is not correct
            </div>
            <form ng-submit="updatePass()">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Mật Khẩu Mơi</label>
                    <input type="password" class="form-control pt-2 pb-2"
                        ng-model="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput1" class="form-label">Các Nhận Mật Khẩu</label>
                    <input type="password" class="form-control pt-2 pb-2"
                        ng-model="cf_password" name="cf_password" required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">OTP Code</label>
                    <input type="text" class="form-control pt-2 pb-2"
                        ng-model="enteredOTP" name="enteredOTP" required>
                </div>
                <div class="mb-3 mt-4">
                    <input type="submit"
                        class="form-control pt-2 pb-2 btn-outline-success text-center fw-medium text-bg-success text-white btn-success mt-3"
                        id="formGroupExampleInput2" value="Confirm">
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
