<div class="bg-light ">
            <div class="row ms-3  pt-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb container">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Đăng Nhập</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="container mb-5  ">
        <div class="col-md-4 offset-md-4 rounded-3 p-2 ">
            <h1 class="text-success fs-2 text-center mb-4">Xác Thực Thông Tin</h1>
            <div ng-if="isError" class="btn btn-danger justify-content-center mb-3 mt-2"><span class=" text-center">Email không tồn tại. Vui lòng thử lại email khác.</span></div>
            <form ng-submit="sendEmail()">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Email</label>
                    <input type="email" class="form-control pt-2 pb-2" id="email"
                        placeholder="Email Của bạn" ng-model="toEmail" name="toEmail" required>
                </div>
                <div class="mb-3 mt-4">
                    <input type="submit"
                        class="form-control pt-2 pb-2 btn-outline-success text-center fw-medium text-bg-success text-white btn-success mt-3"
                        id="formGroupExampleInput2" value="Xác Nhận">
                </div>
            </form>
        </div>
    </div>